*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #3d405b;
}

header h1{
    color: #e07a5f;
}

body{
    background-color: #f4f1de;
}

img{
    border: 2px solid #f2cc8f;
    color: #81b29a;
    border-radius: 25px;
}

.contenedorFotos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: start;

    max-width: 70%;
    margin: 0 auto;
}

.fotoPortrait{
    grid-row-start: span 2;
}

.fotoLandscape{
    grid-row-start: span 1;
}

a{
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}

a figcaption{
    color: #000000;
    background-color: #81b29a;
    width: 50%;
    margin: 0 auto;
    border-radius: 25px;
    border: 2px solid black;
}

@media (max-width: 1720px) {
    .contenedorFotos{
        width: 70%;
        margin: 0 10rem;
    }
}

@media (max-width: 1600px) {
    .contenedorFotos{
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 5rem;
    }
}

@media (max-width: 1500px) {
    .contenedorFotos{
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        margin: 0 12rem;
    }
}

@media (max-width: 1270px) {
    .contenedorFotos{
        width: 40%;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 14rem;
    }
}

@media (max-width: 1000px) {
    .contenedorFotos{
        margin: 0 6rem;
    }
}

@media (max-width: 800px) {
    .contenedorFotos{
        grid-template-columns: repeat(1, 1fr);
        margin: 0 10rem;
    }
}

@media (max-width: 600px) {
    .contenedorFotos{
        margin: 0 6rem;
    }
}

@media (max-width: 400px) {
    .contenedorFotos{
        margin: 0 ;
    }
}

.modal-content {
    background-color: #3d405b;
    color: #f2cc8f;
    border-radius: 10px;
  }

  
.modal-body {
    background-color: #f4f1de;
  }